body{
  box-sizing: border-box;
}

// container
.wrapper,
.container-fluid,
section{
  width: 100%;
}

section{
  display: flex;
  justify-content: center;
  margin: 5rem 0rem;
  padding: 3rem 0rem;
  overflow: hidden;
}
.banner-cont{
  margin: 0;
}
.container{
  width: 70%;
  padding: 0 1rem;
}

.banner-cont{
  background: $gray-gradient;
  padding-top: 0;

  .banner{
    display: flex;
    justify-content: space-between;;
  }
}
.reason .title,
.menu-section .title{
  text-align: center;
}

//  header
header,
.header-right,
.nav > ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

header{
  justify-content: space-between;
  margin: 1rem 0;
}

.header-right{

  .nav > ul > li {
    margin-right: 1.5rem;
    position: relative;
    padding: 0.5rem 0;

    &::after{
      content: '';
      position: absolute;
      width: 0;
      height: 3px;
      bottom: 0;
      left: 0;
      background: $dark-gray;
      transition: width 0.3s ease-in;
    }

    &:hover::after{
      width: 2rem;
      transition: width 0.3s ease-in;
    }
  }
  .header-buttons button{
    background: none;
    border: none;
  }
  #menu-btn{
    display: none
  }
  .mobile-menu{
    display: block;
    position: absolute;
    background: $green-gradient;
    z-index: 222;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    clip-path: circle(0% at 100% 0%);

    .close-menu{
      padding: 2rem 3rem;
      text-align: end;
      font-size: 1.5rem;
      color: $light;
    }
    ul{
      padding: 0 3rem 2rem 3rem;

      li{
        padding: 1rem 0;
        border-bottom: 1px solid darken($gray, 5%);

        a{
          color: $light;
        }
      }
    }
  }

.active{
  transition: 1s;
  clip-path: circle(150% at 100% 0%);
}
  .header-buttons{
    button:hover{
      color: $main-green;
    }
  }
}

// banner

.banner{
   margin: 9rem 0rem;

  .banner-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
       margin: 2rem 0rem;
    }

    button{
      @include button-design;
    }
    input{
      @include input-design
      width: 50%;
      margin-right: 1rem;
    }
  }
  .banner-right{
    width: 30%;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 90%;
      border: 1rem solid $very-light-green;
      border-radius: 50%;
      z-index: 1;
      animation: rotation 10s infinite linear;
    }
    &::before{
      content: '';
      width: 23rem;
      height: 23rem;
      border: 2px solid $main-green;
      position: absolute;
      border-radius: 50%;
    }
    &::after{
      content: '';
      width: 32rem;
      height: 32rem;
      position: absolute;
      background: url('../images/banner-bg.png') no-repeat;
      // background-size: 30rem 30rem;
      background-size: cover;
      animation: rotation 10s infinite linear;
    }
  }
}

// welcome
.welcome{
  display: flex;
  justify-content: space-between;

  .welcome-left{
    width: 45%;

    img{
      width: 100%;
    }
  }
  .welcome-right{
    width: 50%;

    button{
      @include button-design;
      margin-top: 3rem;
    }
  }
}

// Reason
.reason{

  .reason-cards{
    display: flex;
    justify-content: space-between;
  }

  .card{
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $gray;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
  }
}

// Menus

.menu-section{

  .menus{
    display: flex;
  }
  nav{
    width: 20%;

    li{
      padding: 1rem;
      border-left: 2px solid $gray;
      cursor: pointer;
    }
  }
  .carousel{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .food{
    width: 30%;
    // box-shadow: $box-shadow;
    border: 2px solid $gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;


    .food-details{
      text-align: center;

      img{
        // width: 100%;
        height: 13.5rem;
      }
    }

    &:hover img{
      filter: opacity(0.5);
    }

    &:hover .add-card-btns{
      visibility: visible;
    }

    .stars i{
      color: $yellow;
    }
    h4{
      margin: 0.4rem 0;
    }
    p{
      color: $main-green;
      margin: 0;
    }
  }
  .add-card-btns{
    top: 0;
    width: 95%;
    height: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    button{
      width: 3rem;
      height: 3rem;
      border: none;
      background: $gray;
      border-radius: 0.3rem;
      cursor: pointer;
    }
    button:first-child{
      margin-right: 0.5rem;
    }
    button i{
      font-size: 1.3rem;
    }
  }

  .active-menu{
    color: $yellow;
    border-color: $yellow;
  }
}

// history
.history-section{
  .history{
    display: flex;
    justify-content: space-between;

    .history-left{
      width: 50%;

      button{
        @include button-design;
        margin-top: 3rem;
      }
    }

    .history-right{
      width: 45%;

      img{
        width: 100%;
        background: $gray;
        border-radius: 0.5rem;
      }
    }
  }
}

// news sevtion
.news-section{

  .title{
    text-align: center;
  }

  .news-container{
    display: flex;
    justify-content: space-between;

    .blog-post{
      width: 30%;
      .news-tumb{
        width: 100%;
        height: 13rem;
        margin-bottom: 1.5rem;

        img{
          width: 100%;
          height: 13rem;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }
      button{
        color: $yellow;
        border: none;
        background: none;
        font-weight: 700;
        cursor: pointer;
        padding: 0;
      }
    }
  }
}

// subscription
.subscription-section{
  .title{
    text-align: center;
  }
  .input-cont{
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    & > div{
      width: fit-content;
      position: relative;
      width: 50%;
      height: 3rem;
      display: flex;
      align-items: center;
    }
    input{
      @include input-design;
      width: 90%;
      border-radius: 5rem;
      position: absolute;
      padding: 1.2rem 1.5rem;

      &:focus{
        border: 2px solid $main-green;
      }

      &:focus-visible{
        outline: none;
      }
    }
    button{
      @include button-design;
      right: 0.7rem;
      position: absolute;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 0;
      font-size: 1.1rem;
    }
  }

}


// footer
footer{
  padding: 3rem 0;
  background: $gray;
  .container{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .column{
    width: 20%;
    padding: 0 1rem;

    &:first-child{
      width: 30%;
    }

    li{
      padding: 0.5rem 0;
    }

    .social-links{
      i{
        @include button-design;
        padding: 0.6rem;
        margin-right: 0.5rem;
      }
    }
  }
}
